html{
    background-color: white;
    
}

.main-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 2fr 1fr;
    background-color:white;
    height: 480px;
    width: 100%;
    

}
#remove{
    padding: 0;
    background-color: white;
    
    
}




#three img{
    max-height: 200px;
    max-width: fit-content;
}
#four img{
    max-height: 200px;
    max-width: fit-content;
    justify-self: center;
    
    
}



 


.sub-container{
    background-color: #E5E5E5;
    border: 10px solid white;
    
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.sub{
    display: grid;
    grid-template-columns:auto auto;
    
    align-items: center;
    


    
    
    
   

}
.inner-sub-container{
    background-color: #E5E5E5;
    padding: 10px;
    border: 5px solid white;
   
    
    
    
    
    font-size: 30px;
    text-align: center;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border-image: fill;

    }

    h1{
        text-align: center;
    }
    
    #four{
        display: grid;
        grid-template-rows: 1fr auto;
        grid-template-columns: 1fr;
        grid-template-areas:  "image" "readmore";
    }
    .read-more {
        grid-area: read-more;
        text-align: left;
    }




 


